$color-amarillo: #dbf304;
$color-azul: #111f22; 
$color-blanquito: #FEEECD;
$color-azultransparente: rgba(55, 74, 92, 0.2);
$color-gris:#bfcbbc;
$color-botones: #64848c;
$color-marroncito: #1f1a0d;
#color-azulsaturado {
    background-color: saturate($color-azul, 50%),
}
$colorazulsatu: '#color-azulsaturado';


