main {
    h1 {
        text-align: center;
        font-size: 45pt;
        background-color: $color-azultransparente;
        font-family: 'Roboto', sans-serif;
        margin-top: 101px;
        margin-bottom: 10px;
        color: $color-amarillo;
    }
}

h2:hover {
    cursor: pointer;
    text-shadow: $colorazulfluo;
}

main h2 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 30px;

}


main {
    h3 {
        text-align: center;
        color: $color-amarillo;
        padding: 11px;
        font-size: 26px;
        font-family: 'Roboto Mono', monospace;
        background-color: rgba(55, 74, 92, 0.2);
    }
}


main {
    div {
        button {
            display: flex;
        }
    }
}

@media screen and (max-width: 576px) {
    main {
        h1 {
            font-size: 29pt;
        }
        h2 {font-size: 29px;}
    }
}

@media screen and (max-width: 992px) {
    main {
        section {
            div {
                font-size: 1rem;
                width: 100%;
                border: 10px;
                position: relative;
                display: inline-block;
            }
        }
    }
}


@media screen and (max-width: 576px) {
    main {
        section {
            div {
                font-size: 1rem;
                width: 100%;
                border: 10px;
                box-sizing: content-box;
            }
        }
    }
}